<footer id="footer" class="site-footer">

  <div class="container">
    <div class="row">

      <div class="page-links-wrapper">

        <div class="page-links">
          <a href="/" class="page-title">FeWo Sellin</a>
          <hr class="page-link-separator" />
          <a href="/#gallerie" class="page-link">Gallerie</a>
          <a href="/#anfahrt" class="page-link">Anfahrt und Kontakt</a>
        </div>
        <div class="page-links">
          <a href="/wohnung/" class="page-title">Die Wohnung</a>
          <hr class="page-link-separator" />
          <a href="/wohnung/#raeume" class="page-link">Räume</a>
          <a href="/wohnung/#zum-strand" class="page-link">Zum Strand</a>
        </div>
        <div class="page-links">
          <a href="/buchen/" class="page-title">Buchen</a>
          <hr class="page-link-separator" />
          <a href="/buchen/#preise" class="page-link">Preise in der Saison</a>
          <a href="/buchen/#verfuegbarkeit" class="page-link">Verfügbarkeit</a>
          <a href="/buchen/#verbindlich-buchen" class="page-link">Verbindlich Buchen</a>
        </div>
        <div class="page-links">
          <span class="page-title">Links</span>
          <hr class="page-link-separator" />
          <!-- add some links to tourist pages -->
          <!-- <a href="http://www.isshinryu.dk" class="page-link">Isshinryu</a>
          <a href="http://www.tokushinryu.eu" class="page-link">Tokushinryu</a>
          <a href="http://www.seibukan.bplaced.net" class="page-link">Seibukan e.V.</a>
          <a href="http://www.karateclubzen.de" class="page-link">Karate Club Zen</a> -->
        </div>

      </div> <!-- end page-links-wrapper -->

      <div class="contact">
        <!-- <div class="contact-text">
          <span class="icon facebook"></span>
          <a href="http://facebook.com{{ site.data.contact.facebook }}" target="_blank">{{ site.data.contact.facebook }}</a>
        </div> -->
        <div class="contact-text">
          <span class="icon email"></span>
          <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
        </div>
        <div class="contact-text">
          <span class="icon phone"></span>
          {{ site.data.contact.phone }}
        </div>
      </div>

    </div> <!-- end row -->

    <div class="row">
      <div class="footer-line">
        <span class="copyright">&copy; {{ site.author }} 2015 - {{ site.time | date: '%Y' }}</span>
        <span class="impress">
          <a href="/impressum">Impressum</a>
          <a href="/datenschutz">Datenschutz</a>
        </span>
      </div>
    </div>
  </div>

</footer>
