//== Joshinkan
.joshinkan-frame {
  @extend .container-fluid;

  background-image: url(../images/pots-left.png), url(../images/pots-right.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 40% auto, 40% auto;
  background-position: bottom left, top right;

  @include min-media($screen-lg-min) {
    background-position: top left, top right;
  }

  .joshinkan-text-frame {
    @extend .text-block-col, .framed-text-block;
  }

  .joshinkan-emblem {
    @include make-xs-column-offset(5);
    @include make-sm-column-offset(0);
    @include make-xs-column(14);
    @include make-sm-column(12);
    @include make-md-column(10);

    @include max-media($screen-sm-min) {
      margin-bottom: 24px;
      margin-right: percentage((5 / $grid-columns));
    }

    img {
      width: 100%;
      padding: percentage((2 / $grid-columns));
    }
  }
}
