//== Kata und Bunkai
.kata-und-bunkai-frame {
  @extend .container;
  padding-top: 72px;
  padding-bottom: 72px;

  .kata-und-bunkai-image {
    @include make-xs-column(20);
    @include make-xs-column-offset(2);

    padding-bottom: $grid-gutter-width/2;

    img {
      position: relative;
      width: 100%;
    }

    .image-label {
      @include image-label;
    }

    @include min-media($screen-xs-min + 1) {
      @include make-xs-column(16);
      @include make-xs-column-offset(4);

      $image-width: 16/$grid-columns * $screen-xs-min;

      img, .image-label {
        width: $image-width;
        left: 50%;
        margin-left: - $image-width / 2;
      }
    }

    @include min-media($screen-sm-min) {
      @include make-sm-column(8);
      @include make-sm-column-offset(1);
    }
  }

  .kata-und-bunkai-text {
    @extend .col-sm-14, .col-sm-offset-1, .col-xs-20, .col-xs-offset-2;
  }
}
