//== Training Overview

$karateka-width: 425px;
$karateka-height: 524px;
$mobile-width: 256px;
$desktop-width: 512px;

.training-overview {
  @extend .container;
  margin-bottom: 20px;

  .training-aspects-wrapper {
    @extend .clearfix;
    position: relative;
    left: 50%;
    margin-left: - ($mobile-width + $grid-gutter-width) / 2;
    width: $mobile-width + $grid-gutter-width;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;

    @include min-media($desktop-width + $grid-gutter-width) {
      width: $desktop-width + $grid-gutter-width;
      margin-left: - ($desktop-width + $grid-gutter-width) / 2;
    }

    @include min-media($desktop-width + $karateka-width + $grid-gutter-width) {
      margin-left: - ($desktop-width + $karateka-width + $grid-gutter-width) / 2;
    }
  }

  .quote-wrapper {
    @extend .clearfix;
    margin-left: $grid-gutter-width / 2;

    @include min-media($desktop-width + 2 * $grid-gutter-width) {
      margin-left: ($desktop-width + $grid-gutter-width) / 2;
    }
  }

  .training-aspect {
    @include square(256px);
    float: left;
    padding: $grid-gutter-width / 2;

    .training-aspect-inner {
      @include transition(box-shadow 0.1s ease-in);
      @include shadow-bottom;
      @include user-select(none);
      position: relative;
      color: white;
      cursor: pointer;

      img {
        width: 100%;
      }

      &:hover {
        @include shadow-bottom-emphasized;

        .scroll-down {
          opacity: 0.9;
        }

        .aspect-label {
          @include image-overlay-dark;
        }
      }
    }

    .scroll-down {
      @include transition(opacity 0.1s ease-in);
      @extend .text-center;

      position: absolute;
      top: 0;

      width: 100%;
      height: 60px; // 40px of font + 10px + 10px of padding, somehow lineheight is not correct
      padding: 10px;

      @include image-overlay-dark;

      opacity: 0;

      > span {
        color: white;
        font-size: 40px;
      }
    }

    .image-label {
      @include image-label;
    }
  }

  .kata-und-bunkai {
    &:before, &:after {
      display: block;
      content: "";
      @include size(164px, 192px);
      position: absolute;
      z-index: -1;
      pointer-events: none;
    }

    &:before {
      top: -77px;
      left: -58px;
      background-image: url(/images/spots.png);
    }

    &:after {
      top: 40px;
      right: -70px;
      background-image: url(/images/spots_2.png);
    }
  }

  @include min-media($desktop-width + $karateka-width + $grid-gutter-width) {
    .kobudo {
      &:after {
        display: block;
        content: "";
        position: absolute;
        z-index: -1;
        pointer-events: none;

        background-image: url(/images/karateka.png);
        @include size($karateka-width, $karateka-height);
        top: -6px;
        left: 100%;
      }
    }
  }
}
