
//== Ne-Waza

.ne-waza-frame {
  @extend .container;

  .ne-waza-images-stacked {
    @extend .row;
    display: none;
    margin-bottom: 48px;

    @include min-media($screen-sm-min) {
      display: block;
    }

    .image-container {
      @include make-xs-column(6);
      padding: 0;
      margin: 0;

      &:first-child {
        @include translate(17.19%, 15.6%);
        @include make-xs-column-offset(3);
      }

      &:last-child {
        @include translate(-17.19%, 15.6%);
        z-index: -1;
      }
    }

    img {
      @include shadow-bottom;
      width: 100%;
    }
  }

  .ne-waza-images-straight {
    @extend .row;

    .image-container {
      @extend .col-sm-6, .col-xs-8;
      margin-bottom: $padding-large-vertical;

      &:first-child {
        @extend  .col-sm-offset-3;
      }

      @include min-max-media( $screen-xs-min + 1, ($screen-xs-min + $screen-sm-min) / 2 ) {
        @include make-xs-column(10);

        &:first-child {
          @include make-xs-column-offset(2);
        }

        &:last-child {
          margin-top: $grid-gutter-width / 2;
          @include make-xs-column-offset(7);
        }
      }

      @include max-media($screen-xs-min) {
        @include make-xs-column(16);
        @include make-xs-column-offset(4);
      }
    }

    img {
      @include shadow-bottom;
      width: 100%;
    }
  }
}
