header {
  @include max-media($screen-md-min) {
    background-image: url(../images/header_background.jpg);
  }
  background-image: url(../images/header_background_large.jpg);
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  min-height: 744px;
  position: relative;
  margin-bottom: 0;
  color: white;

  a, a:hover, a:active, a:focus {
    color: white;
  }

  .site-header {
    float: right;
    padding-top: 68px;
  }

  .site-title {
    @include max-media($screen-md-min) {
      width: 100%;
      display: block;
    }
    font-size: 72px;
  }

  .site-nav {
    padding-top: 20px;
  }

  .page-links, .contact {
    text-align: right;
  }

  .page-link-wrapper, .contact-text {
    margin: 24px 0;
  }

  .page-link, .contact-text, .site-title {
    text-decoration: none;
    padding: 4px 24px;

    background-color: rgba(0, 0, 0, 0.6);
    @include shadow-bottom;
  }

  .page-link {
    font-size: 48px;
  }

  .contact {
    position: absolute;
    bottom: 0px;
    right: 0;

    .icon {
      position: absolute;
      top: 4px;
      left: -16px;
    }
  }

  .contact-text {
    line-height: 16px;
  }
}
