.verein-wrapper {
  width: 100%;
  min-height: 1000px;
  padding-top: 440px;
  padding-bottom: 72px;

  @include max-media($screen-md-min) {
    background-image: url(../images/background_verein.png)
  }
  background-image: url(../images/background_verein_large.png);
  background-position: top center;
  background-repeat: no-repeat;
}
