@import "groundplan";

// 475 x 286
#overlay-wohnzimmer {
  top: 52.9296875%;
  left: 4.3945312%;
  width: 46.3867188%;
  height: 27.9296875%;
}

// 140 x 381
#overlay-baeder {
  top: 9.86328125%;
  left: 4.296875%;
  width: 13.671875%;
  height: 37.20703125%;
}

// 290 x 239, t: 338, l: 292
#overlay-kueche {
  top: 33.0078125%;
  left: 28.515625%;
  width: 28.3203125%;
  height: 23.33984375%;
}

// 358 x 390, t: 553, l: 522
#overlay-schlafzimmer {
  top: 54.00390625%;
  left: 50.9765625%;
  width: 34.9609375%;
  height: 38.0859375%;
}

// 959 x 174, t: 810, l: 46
#overlay-balkon {
  top: 79.1015625%;
  left: 4.4921875%;
  width: 93.65234375%;
  height: 16.9921875%;
}
